body{
  color: black;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.App-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
  background-image: url('../images/stethoscope.png');
  background-repeat: no-repeat;
  background-position: 43% 50%;
  border-bottom: 2px solid #1A343B;
  font-family: 'Shrikhand', cursive;
}
.App-header h1{
  font-size: 45px;
  color: #1A343B;
}
.App-intro{
  margin-top: 2%;
}
.header li{
  /*display: inline;
  margin-right: 5%;*/
  font-size: 24px;
  float: left;
  list-style: none;
  display: block;
  margin-left: 15px;
  text-decoration: none;
  color: #1A343B;

}
li :visited { text-decoration: none; }
li :hover { text-decoration: none; }
li :focus { text-decoration: none; }
li hover, li :active { text-decoration: none; }
/*.home{
  display: flex;
}*/
.home{
  display: flex;
  height: 60vh;
}
.profile-img{
  height: 100%;
  width: 30%;
  background-image: url('../images/HomeCare-headshot.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.mission{
  height: 100%;
  width: 70%;
  background-image: url('../images/homecare_hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-left: 1px solid #1A343B;
}
.overlay{
  height: inherit;
  width: 100%;
  background: rgba(0,0,0, .6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay p{
  font-size: 25px;
  color: #FDFDFD;
  font-family: 'Courgette', cursive;
}
.content{
  position: relative;
}
.background{
  height: 60vh;
  position: relative;
}
.bioSummary{
  background: #0894CD;
  height: 60vh;
  width: 70%;
  position: absolute;

  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.bioSummary p{
  width: 90%;
}
.profile-bio{
  height: 100%;
  width: 30%;
  background-image: url('../images/HomeCare-headshot.jpg');
  background-repeat: no-repeat;
  left: 0;
  bottom: 0;
  position: absolute;
  background-size: cover;
  background-position: center;
}
/*.step1{  margin-top: 40px; } .step2{margin-top: 20px;} .step3{ margin-top: none;} .step4{margin-top: -20px;} .step5{margin-top: -40px;}*/
