body{
  color: black;
  font-family: 'Courgette', cursive;
  font-family: 'Raleway', sans-serif;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.App-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25vh;
  background: #b19cd9;
  background: #E6E6FA;
  /*background: #D5BCFF;*/
  background-image: url('../images/stethoscope.png');
  background-repeat: no-repeat;
  background-position: 40% 50%;
  background-size: 10%;
  background-attachment: local;
  border-bottom: 2px solid #1E1A24;
  font-family: 'Shrikhand', cursive;
  font-family: 'Courgette', cursive;
  font-family: 'Raleway', sans-serif;


}
.App-header h1{
  font-size: 75px;
  color: #2E0854;
  color: #551A8B;
  font-weight: bold;
  margin-left: 10px;
  text-shadow: 2px 2px 2px #444;
  /*text-shadow: 2px 1px 1px #E6E6FA;*/
}
.App-intro{
  margin-top: 2%;
}
.header li{
  /*display: inline;
  margin-right: 5%;*/
  font-size: 26px;
  float: left;
  list-style: none;
  display: block;
  margin-left: 15px;
  text-decoration: none;


}
li :visited { text-decoration: none; color: #551A8B; }
li :hover { text-decoration: none; color: #551A8B;}
li :focus { text-decoration: none; color: #551A8B; }
li :active { text-decoration: none; color: #551A8B; }
/*.home{
  display: flex;
}*/
.home{
  display: flex;
  height: 65vh;
}
.profile-img{
  height: 65vh;;
  width: 30%;
  background-image: url('../images/HomeCare-headshot-min.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}
.mission{
  height: 100%;
  width: 70%;
  background-image: url('../images/homecare_hero-min.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-left: 1px solid #1A343B;
}
.overlay{
  height: inherit;
  width: 100%;
  background: rgba(0,0,0, .6);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.overlay p{
  font-size: 45px;
  color: #FDFDFD;
  font-family: 'Raleway', sans-serif;
  text-shadow: 3px 1px 1px black;
}
.content{
  position: relative;
}
.background{
  /*height: 45vh;*/
  /*position: relative;*/
  display: flex;
}
.bioSummary{
  background: #8A8596;
  height: 65vh;
  width: 70%;
  /*position: absolute;*/
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  overflow: scroll;
}
.bioSummary p{
  width: 90%;
}
.profile-bio{
  height: 100%;
  width: 30%;
  background-image: url('../images/HomeCare-headshot-min.jpg');
  background-repeat: no-repeat;
  left: 0;
  bottom: 0;
  position: absolute;
  background-size: cover;
  background-position: center;
}
.footer{
  width: 100vw;
  height: 10vh;
  background: #1E1A24;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #E6E6FA;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}
.contact{
  height: 75vh;
  background-image: url('../images/riverside-min.jpg');
  background-size: 100vw 75vh;
  filter: grayscale(65%);
}
.myInfo{
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-shadow: 3px 3px 3px black;


}
.myInfo h2{
  font-size: 60px;
  /*font-size: 4em;*/
  margin-bottom: 110px;
  font-weight: 900;
}
.myInfo p{
  font-size: 30px;
  font-weight: 900;
}
/*.myInfo{
  font-size: 30px;
  margin: 10px;
}
.myInfo p{
  display: inline;
}
.myInfo h2{
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
}
.infoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: 70vh;
}
.contact{
  display: flex;
  background-image: url('../images/riverside.jpg');
  background-size: 100vw 70vh;
  color: black;
  text-shadow: 1px 1px 1px #F9FFED;

}
.contactSection{
  height: 75vh;
  width: 65vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.name-email{
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

.input{
  width: 100%;
  height: 32px;
  border-radius: 7px;
  background-color: #E6E6FA;
  opacity: .85;
  border: 1px solid black;
}
.textBox{
  border-radius: 8px;
  width: 40vw;
  height: 40vh;
  margin-right: 10px;
  background-color: #E6E6FA;
  opacity: .85;
  border: 1px solid black;
}
.messageSection{
  display: flex;
  flex-direction: column;
}
.send-btn{
  margin-top: 20px;
}
.send-msg{
  width: 50%;
  border-radius: 8px;
  background-color: #E6E6FA;
  opacity: .85;
  border: 1px solid black;
}*/

.menu-item{
  line-height: 50px;
  font-size: 17px;
  text-align: center;
  color: #fffce1;
}
.menu-item :hover{
  color: black;

}
.bm-menu{
  /*background: #444;*/
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
  display: none;
  margin-bottom: 30px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: .5em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: black;
}
.active{
  /*background: #a481f7;
  display: block;
  width: 105%;
  border-radius: 5% 5% 5% 5%;
  text-align: center;
  position: relative;
  color: black;
  box-shadow: 2px 4px 4px black;*/
  font-size: 32px;
  font-weight: bold;

}

.left-ribbon{
  position: absolute;
  width: 200px;
  height: 200px;
  transform: rotate(45deg);
  top: -115px;
  left: -115px;
  background: rgba(0,0,0,0);
  background: #444;
  background: #1E1A24;
  box-shadow: 1px 1px 1px black;
  /*border-radius: 50%;*/
}
.right-ribbon{
  position: absolute;
  width: 200px;
  height: 200px;
  transform: rotate(45deg);
  top: -125px;
  right: -125px;
  background: rgba(0,0,0,0);
  /*border-bottom: 12px solid #1E1A24;*/
  border-radius: 50%;
}
#title{
  margin-left: -60px;
}
#mobile-footer-title{
  display: none;
}
.backstory-text{
  font-size: 18px;
  /*line-height: 30px;*/
}
.bioSummary h2{
  /*margin-bottom: 20px;*/
  display: none;
}
#outer-container{
  background: #444;
}
.blurb{
  font-size: 18px;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

.illness{
  font-style: italic;
}
.approach{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
  width: 100%;
  text-align: center;
  overflow: scroll;
  background: #FDFDFD;
}
.case-header{
  font-size: 32px;
  font-weight: bold;
  margin: -1% 0 1% 0;
}
.case-for-home, .proposal, .mission-statement{
  font-size: 20px;
  margin: -10% 30px 2% 30px;
  /*margin: -75px 20px -20px 20px;*/
}
.services-container{

}
.services-div{
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  overflow: scroll;


  /*border-right: 30px; */
}
#home-visits-circle{
  /*filter: grayscale(100%);*/
}
.circle{
  /*transform: rotate(14deg);*/
  border-radius: 50%;
  background: tomato;
  width: 100%;
  padding-bottom: 100%;
  text-align: center;
  font-size: 1em;
  position: relative;
  cursor: pointer;
  /*border: 5px solid black;*/
}
.circle p{
  height: 0;
  top: 50%;
  left: 5%;
  position: absolute;
  font-size: 1.5em;
  text-align: center;
  /*left: 70%;*/
}

.service{
  height: 250px;
  width: 250px;
  margin: 3%;
  position: relative;
}

.services-icons{
  height: 25vh;
  background: #444;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;

}
.home-visits{
  background: #66CCFF;
  color: #000080;
}
.transition-assistance{
  background: #0099CC;
  color: #003399;
}
.advocacy{
  background: #003399;
  color: #0099CC;
}
.respite-care{
  background: #000080;
  color: #66CCFF;
}
.service-description{
  background: #8d6fa8;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*border: 2px solid black;*/
  box-shadow: 2px 2px 2px black;

}
.darkenCircle{
  background: #551a8b;
}
#home-visits-blurb{
  /*display: none;*/
}
#transition-assistance-blurb{
  display: none;
}
#advocacy-blurb{
  display: none;
}
#respite-care-blurb{
  display: none;
}
/*step1{  margin-top: 40px; } .step2{margin-top: 20px;} .step3{ margin-top: none;} .step4{margin-top: -20px;} .step5{margin-top: -40px;}*/
