@media only screen and (max-width: 1200px) {
  .App-header{
      background-image: none;
  }
  #title{
    margin-left: 0;
  }
}
@media only screen and (max-width: 950px) {
  .App-intro{
    display: none;
  }
  .bm-burger-button{
    display: block;
  }
  .left-ribbon{
    visibility: hidden;
  }
  .right-ribbon{
    visibility: hidden;
  }
  #title{
    display: none;
  }
  .case-header{
    font-size: 25px;
  }
  .backstory-text, .case{
    font-size: 16px;
  }
}
/*iphone 6 plus*/
@media only screen and (max-width: 414px){
  .bm-burger-button{
    top: 3%;
    right: 6%;
    height: 28px;
    width: 33px;
  }
  .mission{
    width: 100%;
    background-position: center;
  }
  .profile-img{
    width: 0;
    height: 0;
  }
  #mobile-footer-title{
    display: inline-block;
  }
  .footer{
    height: 15vh;
    margin-top: 0;
    font-size: 18px;
    flex-direction: column;
    text-align: center;
  }
  .approach{
    height: 85vh;
  }
  .bioSummary{
    width: 100%;
    height: 95vh;
    overflow: hidden;
    text-align: center;
  }
  .bioSummary h2{
    display: inline-block;
    margin: -100px 0 25px 0;
  }
  .App-header{
    height: 20vh;
    justify-content: flex-start;
  }
  .App-header h1{
    margin-left: 20px;
  }
  .case, .backstory-text{
    font-size: 14px;
  }

}
/*iphone 6*/
@media only screen and (max-width: 375px){

  .App-header h1{
    font-size: 45px;
    margin-left: 30px;
  }
  .App-header{
    height: 15vh;
    display: flex;
    justify-content: flex-start;
  }
  .bm-burger-button{
    width: 30px;
    height: 25px;
    top: 3%;
    right: 6%;
  }
  .bioSummary h2{
    margin: -100px 0 20px 0;
    font-size: 24px;
  }
  .home{
    height: 70vh;
  }
  .bioSummary{
    height: 110vh;
  }
  .case-header{
    font-size: 20px;
  }
  .case{
    font-size: 12px;
  }
}

/*iphone 5 screen*/

@media only screen and (max-width: 320px){


  .bm-burger-button{
    height: 20px;
    width: 24px;
  }

  .bioSummary p, {
    font-size: 13.5px;
  }
  .bioSummary h2{
    display: inline-block;
    margin-top: -85px;
    font-size: 22px;
    margin-bottom: 15px;
  }
  .overlay{
    height: 70vh;
  }

  .overlay p{
    font-size: 25px;
  }

  .bm-burger-button{
    top: 15px;
    right: 15px;
  }
}
