@media only screen and (max-width: 1200px) {
  .App-header{
      background-image: none;
  }
}
@media only screen and (max-width: 950px) {
  .App-intro{
    display: none;
  }
  .bm-burger-button{
    display: block;
  }
  .left-ribbon{
    visibility: hidden;
  }
  .right-ribbon{
    visibility: hidden;
  }
}
@media only screen and (max-width: 700px){
  .App-header h1{
    font-size: 45px;
    margin-left: 30px;
  }
  .App-header{
    height: 20vh;
    display: flex;
    justify-content: flex-start;
  }
  .bm-burger-button{
    width: 30px;
    height: 25px;
    top: 7%;
  }
}
